@using Web.Authorize
@model Web.Areas.Dashboard.ViewModels.AuthorizedViewModel

<nav class="side-menu open position-fixed overflow-hidden d-flex flex-column">
	<a asp-area="Dashboard"
	   asp-controller="Statistics"
	   asp-action="Index"
	   class="dashboard-shortcut d-flex align-items-center text-decoration-none">
		<div style="width: 30px; height: 30px; margin-left: 17px">
			<img style="object-fit: contain" class="w-100 h-100" src="https://cdn-icons-png.flaticon.com/512/9783/9783268.png" />
		</div>
		<span style="height: fit-content; width: fit-content" class="text-light">Eventmie 3.0</span>
		<svg class="dashboard-wave-bg" viewBox="0 0 250 79" preserveAspectRatio="xMinYMin meet">
			<defs>
				<linearGradient id="waveGradient" x1="0%" y1="0%" x2="100%" y2="0%">
					<stop offset="0%" style="stop-color: rgb(234, 65, 112)" />
					<stop offset="100%" style="stop-color: rgb(128,0,128)" />
				</linearGradient>
			</defs>
			<path d="M0,70 C75,110 180,0 290,110 L250,00 L0,0 Z"></path>
		</svg>
	</a>
	<div class="dashboard-information d-flex align-items-center overflow-hidden">
		<div style="width: 44px; height: 44px; margin-left: 9px">
			<img class="w-100 h-100" src="https://www.svgrepo.com/show/420329/anime-away-face.svg" />
		</div>
		<span style="height: fit-content; width: fit-content; font-size: 20px">@Model.CurrentUser.Role</span>
	</div>
	<div class="dashboard-menu-list-item w-100 h-100 overflow-y-auto">
		<ul class="w-100 list-unstyled">
			<li class="dashboard-menu-item @ViewBag.IsInStatistics @(!Model.Permissions[EPermission.Statistics] ? "d-none" : "")">
				<a asp-area="Dashboard" asp-controller="Statistics" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
					<div class="h-100 d-flex justify-content-center menu-icon">
						<i class="fa-solid fa-chart-line"></i>
					</div>
					<span>Statistics</span>
				</a>
			</li>
			<li class="dashboard-menu-item @ViewBag.IsInManageEvents @((!Model.Permissions[EPermission.Event] && !Model.Permissions[EPermission.Category]) ? "d-none" : "")">
				<a class="text-reset text-decoration-none w-100 h-100 icon group">
					<div class="h-100 d-flex justify-content-center menu-icon">
						<i class="fa-solid fa-store"></i>
					</div>
					<span>Manage Events</span>
				</a>
				<div>
					<ul class="item-child collapse list-unstyled">
						<li class="dashboard-menu-item @ViewBag.IsInEvent @(!Model.Permissions[EPermission.Event] ? "d-none" : "")">
							<a asp-area="Dashboard" asp-controller="Event" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
								<div class="h-100 d-flex justify-content-center menu-icon ms-4">
									<i class="fa-solid fa-calendar-days"></i>
								</div>
								<span>Events</span>
							</a>
						</li>
						<li class="dashboard-menu-item @ViewBag.IsInCategory @(!Model.Permissions[EPermission.Category] ? "d-none" : "")">
							<a asp-area="Dashboard" asp-controller="Category" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
								<div class="h-100 d-flex justify-content-center menu-icon ms-4">
									<i class="fa-solid fa-table-list"></i>
								</div>
								<span>Categories</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="dashboard-menu-item @ViewBag.IsInManageBookings @(!Model.Permissions[EPermission.Booking] ? "d-none" : "")">
				<a class="text-reset text-decoration-none w-100 h-100 group">
					<div class="h-100 d-flex justify-content-center menu-icon">
						<i class="fa-solid fa-bag-shopping"></i>
					</div>
					<span>Manage Bookings</span>
				</a>
				<div>
					<ul class="item-child collapse list-unstyled">
						<li class="dashboard-menu-item @ViewBag.IsInBooking">
							<a asp-area="Dashboard" asp-controller="Booking" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
								<div class="h-100 d-flex justify-content-center menu-icon ms-4">
									<i class="fa-solid fa-money-bill"></i>
								</div>
								<span>Bookings</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="dashboard-menu-item @ViewBag.IsInManageUsers @(!Model.Permissions[EPermission.User] ? "d-none" : "")">
				<a class="text-reset text-decoration-none w-100 h-100 group">
					<div class="h-100 d-flex justify-content-center menu-icon">
						<i class="fa-solid fa-users"></i>
					</div>
					<span>Manage Users</span>
				</a>
				<div>
					<ul class="item-child collapse list-unstyled">
						<li class="dashboard-menu-item @ViewBag.IsInUser">
							<a asp-area="Dashboard" asp-controller="User" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
								<div class="h-100 d-flex justify-content-center menu-icon ms-4">
									<i class="fa-solid fa-user"></i>
								</div>
								<span>Users</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="dashboard-menu-item @ViewBag.IsInManageSite @(!Model.Permissions[EPermission.Site] ? "d-none" : "")">
				<a class="text-reset text-decoration-none w-100 h-100 icon group">
					<div class="h-100 d-flex justify-content-center menu-icon">
						<i class="fa-solid fa-gamepad"></i>
					</div>
					<span>Manage Site</span>
				</a>
				<div>
					<ul class="item-child collapse list-unstyled">
						<li class="dashboard-menu-item @ViewBag.IsInBanner">
							<a asp-area="Dashboard" asp-controller="Banner" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
								<div class="h-100 d-flex justify-content-center menu-icon ms-4">
									<i class="fa-solid fa-image"></i>
								</div>
								<span>Banners</span>
							</a>
						</li>
						<li class="dashboard-menu-item @ViewBag.IsInPage">
							<a asp-area="Dashboard" asp-controller="Page" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
								<div class="h-100 d-flex justify-content-center menu-icon ms-4">
									<i class="fa-regular fa-file-lines"></i>
								</div>
								<span>Pages</span>
							</a>
						</li>
						<li class="dashboard-menu-item @ViewBag.IsInMedia">
							<a asp-area="Dashboard" asp-controller="Media" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
								<div class="h-100 d-flex justify-content-center menu-icon ms-4">
									<i class="fa-solid fa-music"></i>
								</div>
								<span>Media</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="dashboard-menu-item @ViewBag.IsInContact @(!Model.Permissions[EPermission.Contact] ? "d-none" : "")">
				<a asp-area="Dashboard" asp-controller="Contact" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
					<div class="h-100 d-flex justify-content-center menu-icon">
						<i class="fa-solid fa-envelope"></i>
					</div>
					<span>Contacts</span>
				</a>
			</li>
			<li class="dashboard-menu-item">
				<a asp-area="Dashboard" asp-controller="QRCode" asp-action="Scan" class="text-reset text-decoration-none w-100 h-100">
					<div class="h-100 d-flex justify-content-center menu-icon">
						<i class="fa-solid fa-qrcode"></i>
					</div>
					<span>Scan QR Code</span>
				</a>
			</li>
			<li class="dashboard-menu-item @ViewBag.IsInSetting @(!Model.Permissions[EPermission.Setting] ? "d-none" : "")">
				<a asp-area="Dashboard" asp-controller="Setting" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
					<div class="h-100 d-flex justify-content-center menu-icon">
						<i class="fa-solid fa-gear"></i>
					</div>
					<span>Setting</span>
				</a>
			</li>
		</ul>
	</div>
</nav>