@model Web.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home";
}
<div class="hero-section position-relative text-center text-white">
    <video autoplay muted loop playsinline class="hero-background position-absolute w-100 h-100" style="object-fit: cover;">
        <source src="https://cdn.pixabay.com/video/2015/11/07/1275-145116912_medium.mp4" type="video/mp4">
        Trình duyệt của bạn không hỗ trợ video.
    </video>

    <div class="hero-content d-flex flex-column justify-content-center align-items-center position-relative">
        <h1 class="display-4 fw-bold sparkle-text">HÃY THAM GIA SỰ KIỆN NGAY!</h1>
        <div class="d-flex gap-3">
            <a asp-area="Event" asp-controller="Events" asp-action="AllEvent" class="btn btn-primary icon-animation btn-gradient-motion">
                <span class="icon-left">👉</span>
                THAM GIA NGAY
                <span class="icon-right">👈</span>
            </a>
        </div>
    </div>
</div>

<div class="search-bar bg-white p-3 rounded shadow-sm d-flex justify-content-between align-items-center">
    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="cityDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Thành phố
        </button>
        <ul class="dropdown-menu" aria-labelledby="cityDropdown">
            <li><a class="dropdown-item" href="#">All</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Loại sự kiện
        </button>
        <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
            <li><a class="dropdown-item" href="#">All</a></li>
            @foreach(var c in Model.EventCategoríes)
            {
                <li><a class="dropdown-item" asp-controller="Events" asp-action="AllEvent" asp-route-category="@c.Slug" >@c.Name</a></li>
            }
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="priceDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Giá
        </button>
        <ul class="dropdown-menu" aria-labelledby="priceDropdown">
            <li><a class="dropdown-item" href="#">Any Price</a></li>
        </ul>
    </div>
    <button  class="btn btn-primary rounded-circle search-button"><i class="fas fa-search"></i></button>
</div>

<div class="container Event my-5">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="section-title">Sự kiện nổi bật</h2>
        <a asp-area="" asp-controller="Events" asp-action="AllEvent" class="view-all-link">Xem tất cả →</a>
    </div>
    <div class="row g-3">
        @foreach(var e in Model.FeaturedEvents)
        {
            <div class="col-md-4">
                <partial name="Home/_ProductItem" , model="e"/>
            </div>   
        }
    </div>
</div>


<div class="container Event my-5 ">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="section-title">Sự kiện bán chạy nhất</h2>
        <a asp-area="" asp-controller="Events" asp-action="AllEvent" class="view-all-link">Xem tất cả →</a>
    </div>

    <div class="row g-3">
        @foreach(var e in Model.BestSellerEvents)
        {
        <div class="col-md-4">
            <partial name="Home/_ProductItem" , model="e"/>
        </div>
        }
    </div>
</div>

<div class="container Event my-5">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="section-title">Sự kiện sắp tới</h2>
        <a asp-area="" asp-controller="Events" asp-action="AllEvent" class="view-all-link">Xem tất cả →</a>
    </div>
    <div class="row g-3">
        @foreach(var e in Model.UpcomingEvents)
        {
        <div class="col-md-4">
            <partial name="Home/_ProductItem" , model="e"/>
        </div>
        }
    </div>
</div>
<div class="event-categori" style="background: linear-gradient(to bottom, #00416A, #00C9FF);">
    <div class="container my-6 mt-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100" data-aos-once="true">
        <h2 class="text-white mb-4">Danh mục sự kiện</h2>
        <div class="row">
            @foreach(var c in Model.EventCategoríes)
            {
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card bg-dark text-white">
                        <img src="@c.ThumbnailUrl" class="card-img" alt="@c.Name">
                        <div class="card-img-overlay">
                            <h5 class="card-title">@c.Name</h5>
                        </div>
                    </div>
                </div>   
            }
        </div>
</div>
</div>
<div class="event-citi" style="background: linear-gradient(to bottom, #00416A, #00C9FF);">
    <div class="container my-6 " data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100" data-aos-once="true">
        <h2 class="text-white mb-4">Sự kiện Thành phố tốt nhất</h2>
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-dark text-white">
                <img src="https://eventmie.classiebit.com/storage/categories/October2019/oJbtSjHLoCcSEPva4IJe.jpg" class="card-img" alt="Business & Seminars">
                <div class="card-img-overlay">
                    <h5 class="card-title">Hà Nội</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-dark text-white">
                <img src="https://eventmie.classiebit.com/storage/categories/October2019/3YpGsqN75rDAjntQewmP.jpg" class="card-img" alt="Sports & Fitness">
                <div class="card-img-overlay">
                    <h5 class="card-title">Thành Phố Hồ Chí Minh</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-dark text-white">
                <img src="https://eventmie.classiebit.com/storage/categories/October2019/1axS9qJxNWiuzqVmqPDr.jpg" class="card-img" alt="Music & Concerts">
                <div class="card-img-overlay">
                    <h5 class="card-title">Đà Nẵng</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-dark text-white">
                <img src="https://eventmie.classiebit.com/storage/categories/October2019/rMbuGTrvUFEC13tykKcq.jpg" class="card-img" alt="Food & Drink">
                <div class="card-img-overlay">
                    <h5 class="card-title">Đà Lạt </h5>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="blog" style="background-color: #f4f6f8">
    <div class="container blogs-section " data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100" data-aos-once="true">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Blogs</h2>
            <a asp-area="" asp-controller="Events" asp-action="BlogEvent" class="view-all-link">Xem tất cả →</a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="blog-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUwQ9obL7KApZsm0cb6erLQL40qB6D7_QHafHcXAv0Um62IO3drmxlLjCLv8rEniL4RZA&usqp=CAU  " alt="Blog Image 1" class="blog-img">
                <div class="blog-content">
                    <h5>How Eventmie Works For Organisers</h5>
                    <p>And sir dare view but over man. So at within mr to...</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="blog-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3oPrTR8-Bg-aHn5uQmSpBUS--1wDZqTjZhcXYXK_oE1tT7osLBna-AkBrdO98DUbW3Nw&usqp=CAU" alt="Blog Image 2" class="blog-img">
                <div class="blog-content">
                    <h5>Events are Now Happening: How to Se...</h5>
                    <p>Now that events are starting again, how to sell ti...</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="blog-card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoDQCIceJP3n2JiPfXrVzBJI5osdPrQHSNSADLw5lUMH8xjHhowMN9GakJgDwdvkQ--aM&usqp=CAU" alt="Blog Image 3" class="blog-img">
                <div class="blog-content">
                    <h5>Why do you need an event ticketing...</h5>
                    <p>Modern event ticketing system enables you to manag...</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="container custom-container" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100" data-aos-once="true">
    <div class="text-center section-header">
        <h4 class="section-subtitle">Làm thế nào để tham gia?</h4>
        <h2 class="section-title">Dành cho Nhà tổ chức sự kiện</h2>
    </div>
    <div class="row text-center align-items-start justify-content-center">
        <div class="col-md-4 step step-1" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100" data-aos-once="true">
            <div class="step-icon">
                <span class="step-circle icon-blue">
                    <i class="fas fa-calendar-alt fa-2x icon-color-blue"></i>
                </span>
            </div>
            <h4 class="step-title">1. Tạo sự kiện</h4>
            <p class="step-description">Đăng ký, trở thành nhà tổ chức và bắt đầu thêm sự kiện.</p>
        </div>

        <div class="col-md-4 step step-2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000" data-aos-once="true">
            <div class="step-icon">
                <span class="step-circle icon-lightblue">
                    <i class="fas fa-check fa-2x icon-color-lightblue"></i>
                </span>
            </div>
            <h4 class="step-title">2. Công bố sự kiện</h4>
            <p class="step-description">Nhập đầy đủ thông tin về sự kiện của bạn và công bố nó.</p>
        </div>

        <div class="col-md-4 step step-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2000" data-aos-once="true">
            <div class="step-icon">
                <span class="step-circle icon-green">
                    <i class="fas fa-dollar-sign fa-2x icon-color-green"></i>
                </span>
            </div>
            <h4 class="step-title">3. Bắt đầu bán vé</h4>
            <p class="step-description">Bắt đầu bán vé sự kiện của bạn và kiếm lợi nhuận.</p>
        </div>
    </div>
</div>





<div class="container custom-container mt-4 mb-4" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100" data-aos-once="true">
    <div class="text-center section-header">
        <h4 class="section-subtitle">Làm thế nào để tham gia?</h4>
        <h2 class="section-title">Đối với người tham gia sự kiện</h2>
    </div>

    <div class="row text-center align-items-start justify-content-center">
        <div class="col-md-4 step step-1" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100" data-aos-once="true">
            <div class="step-icon">
                <span class="step-circle icon-blue">
                    <i class="fas fa-calendar-alt fa-2x icon-color-blue"></i> 
                </span>
            </div>
            <h4 class="step-title">1. Chọn Sự Kiện</h4>
            <p class="step-description">Đăng nhập, chọn sự kiện mà bạn yêu thích</p>
        </div>
         
        <div class="col-md-4 step step-2" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000" data-aos-once="true">
            <div class="step-icon">
                <span class="step-circle icon-lightblue">
                    <i class="fas fa-ticket-alt fa-2x icon-color-lightblue"></i>
                </span>
            </div>
            <h4 class="step-title">2. Lựa chọn vé</h4>
            <p class="step-description">Nhận vé của bạn từ trang sự kiện.</p>
        </div>
        <div class="col-md-4 step step-3" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2000" data-aos-once="true">
            <div class="step-icon">
                <span class="step-circle icon-green">
                    <i class="fas fa-walking fa-2x icon-color-green"></i>
                </span>
            </div>
            <h4 class="step-title">3. Tham gia Sự kiện</h4>
            <p class="step-description">Hãy tham gia sự kiện và quẩy hết mình.</p>
        </div>

    </div>
</div>