@model Constracts.DTO.TicketDTO

<div style="background-color: rgba(0, 0, 0, 0.7) !important"
	 class="dashboard-ticket-form w-100 h-100 position-fixed rounded d-none justify-content-center align-items-center">
	<div class="w-75 rounded" style="min-width: 300px; overflow-x: hidden; overflow-y: auto;">
		<div class="w-100 d-flex justify-content-center align-items-center"
			 style="height: 100px; background: linear-gradient(to right, rgb(234, 65, 112), rgb(128,0,128)) !important;">
			<h2>Loại vé</h2>
		</div>
		<input hidden id="id" name="id" value="@(Model.Id == 0 ? "-1" : Model.Id)" />
		<div class="dashboard-ticket-form-container w-100 d-flex flex-wrap justify-content-center p-4">
			<div class="dashboard-ticket-form-item">
				@Html.LabelFor(m => m.Title)
				<input id="title" name="title" required
					   class="form-control" value="@Model.Title" />
			</div>
			<div class="dashboard-ticket-form-item">
				@Html.LabelFor(m => m.Price)
				<input id="price" name="price" type="number" min="1" required
					   class="form-control" value="@Model.Price" />
			</div>
		</div>
		<div class="dashboard-ticket-form-container w-100 d-flex flex-wrap justify-content-center p-4">
			<div class="dashboard-ticket-form-item">
				@Html.LabelFor(m => m.QuantityAvailable)
				<input type="number" min="0" id="quantityAvailable" name="quantityAvailable" required
					   class="form-control" value="@Model.QuantityAvailable" />
			</div>
			<div class="dashboard-ticket-form-item">
				@Html.LabelFor(m => m.MaxPerPerson)
				<input type="number" min="1" id="maxPerPerson" name="maxPerPerson" required
					   class="form-control" value="@Model.MaxPerPerson" />
			</div>
		</div>
		<div class="dashboard-ticket-form-container w-100 p-4">
			@Html.LabelFor(m => m.Description)
			<textarea id="description" name="description"
					  style="resize: none; height: 200px; min-width: 250px"
					  required
					  class="form-control">@Html.DisplayFor(m => m.Description)</textarea>
		</div>
		<div class="dashboard-ticket-form-container d-flex justify-content-center p-4 w-100" style="gap: 10px">
			<button type="submit"
					class="dashboard-submit-button btn btn-primary rounded-4 shadow bg-light-green border-0 bubble-hover">
				<i class="fa-solid fa-floppy-disk"></i>
				Save
			</button>
			<button type="button"
					class="dashboard-ticket-form-cancel btn btn-primary rounded-4 shadow dashboard-selected-background border-0 bubble-hover">
				<i class="fa-solid fa-xmark"></i>
				Cancel
			</button>
		</div>
	</div>
</div>