@model Web.ViewModels.AllEventViewModel
@{
    ViewData["Title"] = "Event";
}

<div class="container-fluid position-relative" style="background: url(https://www.ikeva.com/wp-content/uploads/2016/01/BeerDieEvents.jpg); background-size: cover; background-position: center; height: 30vh; width: 100%;">
    <div class="row h-100">
        <div class="col text-white position-absolute" style="bottom: 10px">
            <h1 class="display-4">Sự kiện</h1>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><i class="bi bi-house-fill" style="font-size: 1.5rem;"></i></a><i style="font-size: 1.5rem">/ Sự kiện</i>
        </div>
    </div>
</div>

<div class="container my-8">


    <div id="filterForm" style="display: none;">
        <div id="filterForm" style="display: block;">
            @{
                var filter = Model.AllEvents;
            }
            <partial name="Home/_FilterForm" , model="filter" />

        </div>

    </div>
</div>
<div class="container my-5">
    <div class="row g-3">
        @foreach (var e in Model.AllEvents)
        {
            <div class="col-md-4">
                <partial name="Home/_ProductItem" , model="e" />
            </div>
        }

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="AllEventAsync" asp-route-pageIndex="@(Model.PageIndex - 1)">Previous</a>
                    </li>
                }

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                        <a class="page-link" asp-action="AllEventAsync" asp-route-pageIndex="@i">@i</a>
                    </li>
                }

                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="AllEventAsync" asp-route-pageIndex="@(Model.PageIndex + 1)">Next</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
