@using System.Web
@using Microsoft.AspNetCore.Html
@functions {

	string getNavigateAction(string baseUrl, string current, IEnumerable<string> navigateItems)
	{
		string result = "";
		bool isCurrent = false;

		foreach (var page in navigateItems)
		{
			result += "<i class='fa-solid fa-chevron-right'></i>";

			string capitalizeFirst = page[0].ToString().ToUpper() + page.Substring(1);
			isCurrent = page.ToLower().Contains(current);

			result += $"<a class='{(isCurrent ? "text-reset" : "")} text-decoration-none' href='{baseUrl}/{page}'><span>{capitalizeFirst}</span></a>";
		}

		return result;
	}

	IHtmlContent GetHeaderNavigation()
	{
		string path = Context.Request.Path;
		// check current if in admin base or not
		if (path.ToLower().Contains("dashboard")) return Html.Raw("");

		string[] pages = path.Split("/");

		// skip the "" and take 2
		var homePages = pages.Skip(1).Take(2);
		string baseUrl = $"/{string.Join("/", homePages)}";

		string current = pages.Last().ToLower();
		bool isInBase = current.Contains("index");

		//get the rest but Index action
		var navigateItems = isInBase ? pages.Skip(3).SkipLast(1) : pages.Skip(3);

		string html = "<i class='fa-solid fa-chevron-right'></i>"
					  + $"<a class='{(isInBase ? "text-reset" : "")} text-decoration-none' href='{baseUrl}/Index'><span>{homePages.Last()}</span></a>"
					  + getNavigateAction(baseUrl, current, navigateItems);

		return Html.Raw(HttpUtility.HtmlDecode(html));
	}
}

<!DOCTYPE html>
<html lang="en">
<!--ADMIN LAYOUT-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Admin</title>
</head>
<body>
	<!--Header-->
	<!--TODO: ADD HEADER-->
	<!--End Header-->

	<nav class="side-menu open position-fixed overflow-hidden d-flex flex-column">
		<a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="dashboard-shortcut d-flex align-items-center bg-primary text-decoration-none">
			<div style="width: 30px; height: 30px; margin-left: 17px">
				<img style="object-fit: contain" class="w-100 h-100" src="https://eventmie.classiebit.com/storage/settings/February2024/kLnsc9P2UQfpHIrkzQC4.png" />
			</div>
			<span style="height: fit-content; width: fit-content" class="text-light">Eventmie 3.0</span>
		</a>
		<div class="admin-information d-flex align-items-center overflow-hidden">
			<div style="width: 44px; height: 44px; margin-left: 9px">
				<img class="w-100 h-100" src="https://www.svgrepo.com/show/420329/anime-away-face.svg" />
			</div>
			<!--admin model-->
			<span style="height: fit-content; width: fit-content; font-size: 20px">Admin</span>
		</div>
		<div class="admin-menu-list-item w-100 h-100 overflow-y-auto">
			<ul class="w-100 list-unstyled">
				<li class="admin-menu-item @ViewBag.Dashboard">
					<a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
						<div class="h-100 d-flex justify-content-center menu-icon">
							<i class="fa-solid fa-ship"></i>
						</div>
						<span>Dashboard</span>
					</a>
				</li>
				<li class="admin-menu-item @ViewBag.ManageEvents">
					<a class="text-reset text-decoration-none w-100 h-100 icon group">
						<div class="h-100 d-flex justify-content-center menu-icon">
							<i class="fa-solid fa-store"></i>
						</div>
						<span>Manage Events</span>
					</a>
					<div>
						<ul class="item-child collapse list-unstyled">
							<li class="admin-menu-item @ViewBag.Event">
								<a asp-area="Admin" asp-controller="Event" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
									<div class="h-100 d-flex justify-content-center menu-icon ms-4">
										<i class="fa-solid fa-calendar-days"></i>
									</div>
									<span>Events</span>
								</a>
							</li>
							<li class="admin-menu-item @ViewBag.Cagetory">
								<a asp-area="Admin" asp-controller="Cagetory" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
									<div class="h-100 d-flex justify-content-center menu-icon ms-4">
										<i class="fa-solid fa-table-list"></i>
									</div>
									<span>Cagetories</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="admin-menu-item @ViewBag.ManageBookings">
					<a class="text-reset text-decoration-none w-100 h-100 group">
						<div class="h-100 d-flex justify-content-center menu-icon">
							<i class="fa-solid fa-bag-shopping"></i>
						</div>
						<span>Manage Bookings</span>
					</a>
					<div>
						<ul class="item-child collapse list-unstyled">
							<li class="admin-menu-item @ViewBag.Booking">
								<a asp-area="Admin" asp-controller="Booking" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
									<div class="h-100 d-flex justify-content-center menu-icon ms-4">
										<i class="fa-solid fa-money-bill"></i>
									</div>
									<span>Bookings</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="admin-menu-item @ViewBag.ManageUsers">
					<a class="text-reset text-decoration-none w-100 h-100 group">
						<div class="h-100 d-flex justify-content-center menu-icon">
							<i class="fa-solid fa-users"></i>
						</div>
						<span>Manage Users</span>
					</a>
					<div>
						<ul class="item-child collapse list-unstyled">
							<li class="admin-menu-item @ViewBag.User">
								<a asp-area="Admin" asp-controller="User" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
									<div class="h-100 d-flex justify-content-center menu-icon ms-4">
										<i class="fa-solid fa-user"></i>
									</div>
									<span>Users</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="admin-menu-item @ViewBag.ManageSite">
					<a class="text-reset text-decoration-none w-100 h-100 icon group">
						<div class="h-100 d-flex justify-content-center menu-icon">
							<i class="fa-solid fa-gamepad"></i>
						</div>
						<span>Manage Site</span>
					</a>
					<div>
						<ul class="item-child collapse list-unstyled">
							<li class="admin-menu-item @ViewBag.Banner">
								<a asp-area="Admin" asp-controller="Banner" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
									<div class="h-100 d-flex justify-content-center menu-icon ms-4">
										<i class="fa-solid fa-image"></i>
									</div>
									<span>Banners</span>
								</a>
							</li>
							<li class="admin-menu-item @ViewBag.Page">
								<a asp-area="Admin" asp-controller="Page" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
									<div class="h-100 d-flex justify-content-center menu-icon ms-4">
										<i class="fa-regular fa-file-lines"></i>
									</div>
									<span>Pages</span>
								</a>
							</li>
							<li class="admin-menu-item @ViewBag.Media">
								<a asp-area="Admin" asp-controller="Media" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
									<div class="h-100 d-flex justify-content-center menu-icon ms-4">
										<i class="fa-solid fa-music"></i>
									</div>
									<span>Media</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="admin-menu-item @ViewBag.Contact">
					<a asp-area="Admin" asp-controller="Contact" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
						<div class="h-100 d-flex justify-content-center menu-icon">
							<i class="fa-solid fa-envelope"></i>
						</div>
						<span>Contacts</span>
					</a>
				</li>
				<li class="admin-menu-item @ViewBag.Setting">
					<a asp-area="Admin" asp-controller="Setting" asp-action="Index" class="text-reset text-decoration-none w-100 h-100">
						<div class="h-100 d-flex justify-content-center menu-icon">
							<i class="fa-solid fa-gear"></i>
						</div>
						<span>Setting</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container body-container w-100 d-flex">
		<div class="admin-box"></div>
		<main role="main" class="admin-main d-flex flex-column flex-grow-1 overflow-hidden">
			<section class="admin-header w-100 d-flex">
				<button class="side-menu-button">
					<i class="fa-solid fa-arrow-left"></i>
					<i class="fa-solid fa-bars hide-icon"></i>
				</button>
				<div class="flex-grow-1 d-flex align-items-center">
					<div class="navigate-container d-flex align-items-center rounded-pill bg-light p-2 shadow">
						<a asp-area='Admin' asp-controller='Dashboard' asp-action='Index' class='admin-base text-decoration-none'>Dashboard</a>
						@GetHeaderNavigation()
					</div>
				</div>
				<!--model-->
				<div class="profile-dropdown d-flex align-items-center dropdown">
					<button class="dropdown-button d-flex align-items-center dropdown-toggle bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						<div class="prevent-select" style="width: 44px; height: 44px; margin-left: 9px">
							<img class="w-100 h-100" src="https://www.svgrepo.com/show/420329/anime-away-face.svg" />
						</div>
					</button>
					<ul class="dropdown-menu" style="width: 230px; white-space: normal">
						<li>
							<div class="w-100 container">
								<div class="row">
									<div class="col-4">
										<div class="prevent-select" style="width: 70px; height: 70px">
											<img class="w-100 h-100" src="https://www.svgrepo.com/show/420329/anime-away-face.svg" />
										</div>
									</div>
									<div class="col-8 d-flex flex-column justify-content-center">
										<!--Model-->
										<span class="w-100 profile-text" style="font-size: 15px">Admin</span>
										<span class="w-100 profile-text">admin@gmail.com</span>
									</div>
								</div>
								<hr />
							</div>
						</li>
						<li>
							<a asp-area="Profile"
							   asp-controller="Profile"
							   asp-action="Information"
							   class="user-profile-link dropdown-item d-flex align-items-center">
								<i class="fa-solid fa-user" style="font-size: 12px; transform: translateY(-1px)"></i>
								<span>Profile</span>
							</a>
						</li>
						<li>
							<a asp-area=""
							   asp-controller="Home"
							   asp-action="Index"
							   class="user-profile-link dropdown-item d-flex align-items-center">
								<i class="fa-solid fa-house" style="font-size: 12px; transform: translateY(-1px)"></i>
								<span>Visit Website</span>
							</a>
						</li>
						<li>
							<!--TODO: Navigate to sign in page, log out current user-->
							<div class="d-flex justify-content-center align-items-center w-100" style="height: 100px">
								<button type="button" class="log-out-button w-75 btn btn-danger rounded-pill">
									<i class="fa-solid fa-arrow-right-from-bracket" style="font-size: 12px; transform: translateY(-1px)"></i>
									<span>Log Out</span>
								</button>
							</div>
						</li>
					</ul>
				</div>
			</section>
			@RenderBody()
		</main>
	</div>

	<script src="~/dist/bundle.js" asp-append-version="true"></script>
	<script asp-append-version="true" src="~/js/admin/admin.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
