@using Web.Areas.Dashboard.ViewModels.EventForm
@model EventBasicInformationViewModel

<div class="w-100 pb-4">
	@await Component.InvokeAsync("ImageInput", Model.ThumbnailUrl)
	<div class="dashboard-event-divider w-100 d-flex justify-content-center">
		<hr />
	</div>
	<div class="w-100 d-flex justify-content-center">
		<div style="width: 95%">
			<div class="d-flex flex-wrap justify-content-between">
				<div style="min-width: 200px; width: 40%">
					<label for="organizer">Organizer</label>
					<input type="text" disabled
						   class="form-control disabled"
						   value="@Model.Organizer.UserName" />
					<input hidden id="organizerId" name="organizerId" type="text"
						   value="@Model.Organizer.Id" />
				</div>
				<div style="min-width: 200px; width: 40%">
					<label for="categoryId">Category</label>
					<select id="categoryId" name="categoryId" required class="form-control">
						@foreach (var item in Model.Categories)
						{
							@if (Model?.EventDetail?.CategoryId != -1 && Model?.EventDetail?.CategoryId == item.Id)
							{
								<option selected value="@item.Id">
									@item.Name
								</option>
							}
							else
							{
								<option value="@item.Id">
									@item.Name
								</option>
							}
						}
					</select>
				</div>
			</div>
			<label asp-for="EventDetail!.Title">@Html.LabelFor(m => m.EventDetail!.Title)</label>
			<span class="text-warning">*</span>
			<input id="title"
				   name="title"
				   required
				   value="@Model?.EventDetail?.Title"
				   type="text"
				   class="form-control remove-border-focus" />
			<label asp-for="EventDetail!.Description">@Html.LabelFor(m => m.EventDetail!.Description)</label>
			<span class="text-warning">*</span>
			<textarea id="description" name="description"
					  style="resize: none; height: 200px"
					  required
					  class="form-control">@Model?.EventDetail?.Description</textarea>
			<div class="mt-4">
				<button type="submit"
						class="dashboard-submit-button btn btn-primary rounded-4 shadow bg-light-green border-0 bubble-hover">
					<i class="fa-solid fa-floppy-disk"></i>
					Save
				</button>
			</div>
		</div>
	</div>
</div>